/images/*
/Effects/__pycache__/*
Images/*
env/*
users.json
PhotoFrame.log
*__pycache__/*
DesktopApp/Effects/__pycache__/AlphaDissolveEffect.cpython-311.pyc
DesktopApp/Effects/__pycache__/BarnDoorCloseEffect.cpython-311.pyc
DesktopApp/Effects/__pycache__/BarnDoorOpenEffect.cpython-311.pyc
DesktopApp/Effects/__pycache__/BlindsEffect.cpython-311.pyc
DesktopApp/Effects/__pycache__/CheckerboardEffect.cpython-311.pyc
DesktopApp/Effects/__pycache__/IrisCloseEffect.cpython-311.pyc
DesktopApp/Effects/__pycache__/IrisOpenEffect.cpython-311.pyc
DesktopApp/Effects/__pycache__/PixelDissolveEffect.cpython-311.pyc
DesktopApp/Effects/__pycache__/PlainEffect.cpython-311.pyc
DesktopApp/Effects/__pycache__/ScrollEffect.cpython-311.pyc
DesktopApp/Effects/__pycache__/ShrinkEffect.cpython-311.pyc
DesktopApp/Effects/__pycache__/StretchEffect.cpython-311.pyc
DesktopApp/Effects/__pycache__/WipeEffect.cpython-311.pyc
DesktopApp/Effects/__pycache__/ZoomInEffect.cpython-311.pyc
DesktopApp/Effects/__pycache__/ZoomOutEffect.cpython-311.pyc
DesktopApp/Handlers/__pycache__/image_handler.cpython-311.pyc
DesktopApp/Handlers/__pycache__/mjpeg_server.cpython-311.pyc
DesktopApp/Handlers/__pycache__/observer.cpython-311.pyc
DesktopApp/Handlers/__pycache__/weather_handler.cpython-311.pyc
DesktopApp/__pycache__/iFrame.cpython-311.pyc
