[Unit]
Description=Digital Photo Frame Desktop App
After=network.target

[Service]
WorkingDirectory=/home/pi/photoframe
ExecStart=/home/pi/photoframe/env/bin/python3 /home/pi/photoframe/PhotoFrameDesktopApp.py
Restart=always
RestartSec=5
User=pi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority

[Install]
WantedBy=graphical.target
